



<body>
  <div class="container responsive">
    
    </div>
    


    <div class="container">

      <div class="row">
        <div class="col s4">
          <div class="row valign-wrapper">       

              <div class="col s12  offset-s4 valign">
                <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator responsive-img" width="650" src="picture/radio.jpg" >
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Best Radios
                      <i class="material-icons right">more_vert</i>
                    </span>                    
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Best Radios
                      <i class="material-icons right">close</i>
                    </span>
                    <p>These are the best options for those looking to keep things traditional, whether that’s a barebones AM/FM radio, something with a few more modern conveniences, or a radio for emergencies.</p>
                  </div>
                </div>
              </div>            
            </div>
        </div>
        
        <div class="col s4">
          <div class="row valign-wrapper">     

              <div class="col s12  offset-s4 valign">
                <div class="card">
                  <div class="card-image waves-effect waves-block waves-light" class="home-style">
                    <img class="activator responsive-img" src="picture\char.jpg">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">IPhone And IPad Charger
                      <i class="material-icons right">more_vert</i>
                    </span>                    
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">IPhone And IPad Charger
                      <i class="material-icons right">close</i>
                    </span>
                    <p> iOS devices charge much, much more quickly with a higher-watt wall brick. If you have an iPad Pro, and you charge it with the 29-watt MacBook USB-C charger, it’ll fuel up in half the time compared to the iPad’s included 12-watt charger.</p>
                  </div>
                </div>
              </div>            
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <div class="row valign-wrapper">            
  
                <div class="col s12  offset-s4 valign">
  
                  <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator responsive-img" src="picture/virt.jpg" >
                    </div>
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4"> Virtual Reality
                        <i class="material-icons right">more_vert</i>
                      </span>
                      
                    </div>
                    <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">Virtual Reality
                        <i class="material-icons right">close</i>
                      </span>
                      <p>People, both individually and as a society at large, are wrestling to understand how their newsfeeds turned against them. They are coming to realize exactly how carefully controlled Facebook feeds are, with highly tailored ads. </p>
                    </div>
                  </div>
                </div>
            
            </div>
          </div>
  
        <div class="row">
          <div class="col s4">
            <div class="row valign-wrapper">             
  
                <div class="col s12  offset-s4 valign">  
                  <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator responsive-img" src="picture/pro.jpg" >
                    </div>
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">car
                        <i class="material-icons right">more_vert</i>
                      </span>                      
                    </div>
                    <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">Card Title
                        <i class="material-icons right">close</i>
                      </span>
                      <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  

        <div class="col s4 ">
          <div class="row valign-wrapper">          

              <div class="col s12  offset-s4 valign">
                <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator responsive-img" src="picture/sam.jpg">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Samsung Galaxy s9
                      <i class="material-icons right">more_vert</i>
                    </span>                    
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Samsung Galaxy s9
                      <i class="material-icons right">close</i>
                    </span>
                    <p>Samsung’s Galaxy S9 and Galaxy S9+ have familiar designs with subtle, yet essential ergonomic improvements. Of course, the duo of high-end phones also come with improved hardware specs, headlined by a groundbreaking camera with adjustable aperture.</p>
                  </div>
                </div>
              </div>
            
          </div>
        </div>
      </div>
     
      <input type="file" id="file1" name="file" multiple
      ng-files="getTheFiles($files)" />

  <input type="button" ng-click="uploadFiles()" value="Upload" />
</body>


